.authorStyle {
    font-family: 'irs';
    font-size: 12px;
    margin-right: 30px;
}

/* .footerStyle {
    background-color: '#2983ca4f' !important;
    justify-content: 'center' !important;
    align-items: 'cenetr' !important;
    text-align: 'center'!important;
    padding: 5px !important;
    font-family: 'irs'!important;

} */