.ReactTable {
    border-radius: 8px;
    overflow: hidden;
}

.ReactTable .rt-thead .rt-tr .rt-th, .ReactTable .rt-thead .rt-tr .rt-td {
    padding: 6px;
    display: flex;
    justify-content: flex-start;
}

.ReactTable .rt-thead.-headerGroups .rt-tr .rt-th {
    display: flex;
}

.ReactTable .rt-tbody .rt-tr-group .rt-td {
    padding: 10px;
}

.ReactTable.-striped .rt-tbody .rt-tr-group .rt-tr.-odd {
    /* background-color: #efefef; //-----30-06-98*/
    background-color: #cae0f3;
}

.ReactTable .rt-table .rt-thead.-headerGroups {
    background-color: #ffffff;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc, .ReactTable .rt-thead.-header, .ReactTable .-pagination {
    box-shadow: none !important;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: #efefef !important;
}

.ReactTable .rt-th>div, .ReactTable .rt-td>div {
    background: none !important;
}

.ReactTable .rt-thead.-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable .rt-thead .rt-tr .rt-th {
    font-family: 'irs';
    font-size: 14px;
    background-color: #39a1f4;
    border-color: #2196F3;
    color: white
}

.exportBtn {
    background: #fd8b06 !important;
    font-family: 'irs' !important;
    /* padding-top:1 !important;
    padding-bottom:1 !important; */
    /* padding: 10px 10px 10px 10px !important; */
    padding: 5px !important;
}

.divBtn {
    justify-content: center;
    margin-right: 20;
}

.headerTableDiv {
    align-items: 'center';
    padding-top: 15;
}

.headerTable span {
    /* margin-top: 4; */
    font-family: 'irs';
    font-size: 17px;
}

.divContainerListPersons {
    width: 100% !important;
}

.headerTable {
    padding: 1px;
}

.iconStyle{
    margin-right: 37px;
    margin-bottom: -10px;
}
FaUserPlus :hover{
    color:green
}
.font-weight-light{
    /* font-weight: bold !important;*/
    margin-top: 5px !important; 

}




